*{
    box-sizing: border-box;
}
/* variables */ 
:root{
    --white: #fff;
    --milk: #FAFAFA;
}
/* end of  variables */

/* bg colors */
html{
    background-color: #25273C;
}
.bg-milk{
    background-color: var(--milk);
}
/* text color */
.txt-white{
    color: white;
}


/* utils */
.hideme{
    display: none;
}
.showme{
    display: inline;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.spacer-20{
    padding: 20px;
}
.spacer-10{
    padding: 10px;
}
.pad-20{
    padding: 20px;
}
.pad-10{
    padding: 10;
}
.curve-right-top{
    border-top-right-radius: 6px;
}

.curve-left-top{
    border-top-left-radius: 6px;
}
.curve-left-bottom{
    border-bottom-left-radius: 6px;
}
.curve-right-bottom{
    border-bottom-right-radius: 6px;
}
.curve-all{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.btn1{
    outline: none;
    border: none;
    padding: 1px 3px;
    margin: 1px 2px;
    border-radius: 3px;
    background-color: inherit;
}

.custom-text-muted{
    color: #808082;
}

.custom-text-muted:hover{
    color: rgb(255, 255, 255);
}

.custom-text-muted:active{
    color:blue;
}
.rounded-check{
    border-radius: 20px;
}

/* end of utils */
html{
    background-color: #181824;
}

body{
    /* background-color:#FAFAFA; */
    background-color: #181824;
    margin: 0;
    font-size: 30px;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    background-color: blanchedalmond;
    width: 15px;
}
body::-webkit-scrollbar-track{
    background-color: grey;
   
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    color: pink;
    background-color: pink;
}
.attribution{
    width: 100%;
    height: 100%;
    background-color:#181824;
    padding: 0;
    margin: 0;
    
}

.bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    background-image: url(./images/bg-desktop-light.jpg);
    height: 45vh;
}

.main{
    position: relative;
    margin: -220px auto 0;
    width: 50%;
    /* box-shadow: 3px 2px 200px 1px rgb(221, 208, 208); */
    z-index: 2;
    padding: 20px;
    /* background-color: #181824; */
}
.main h1{
display: flex;
justify-content: space-between;
font-size: 40px;
}

/* todo  styles*/
.todos{
    /* border: 1px solid rgb(9, 18, 9); */
    box-shadow: 1px 1px 100px 10px rgba(187, 179, 179,0.1);
    /* background-color: #181824; */

}

/* .todo-items:hover{
    border: 1px solid rgb(66, 230, 66);
} */

.todo-items{
    /* background-color: var(--milk); */
    /* padding: 15px; */
    /* border-radius: 5px; */
    /* border-bottom: 1px solid rgb(218, 204, 204); */
    /* box-shadow: 1px 1px 3px 1px rgb(218, 212, 212); */
    /* margin: 3px; */

    /*  */
    background-color: #25273C;
    padding: 15px;
    /* border-bottom: 1px solid rgb(218, 204, 204); */
    margin: 1px;
    color: white;
    box-shadow: none;
    border-bottom: 1px solid rgba(227, 227, 227,0.3);
    /* box-shadow: 1px 1px 3px 1px rgb(205, 198, 198); */

}

.todo-items:hover > span.hideme {
    display: inline;
    background-color: rgb(243, 228, 59);
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.wrap-item{
    padding: 7px;
    display: flex;
}
.wrap-flex{
    display: flex;
    justify-content: space-between;
}
.create-todo{
    border: 1px solid silver;
}


#search{
    outline: none;
    border: none;
    padding: 10px;
    background-color: inherit;
    color: white;
}
footer{
    background-color: #181824;
}










/* small screen */
@media only screen and (max-width: 768px){
    .main{
        width: 100%;
        background-color: #181824;
    }
    
    .todos{
        width: 100%;
    }

    .todo-items{
        width: 95%;
        /* background-color: red; */
    }
    .todo-footer>div{
        font-size: 10px;
    }
    #controls{
        background-color: #25273C;
        position: absolute;
        bottom: -25px;
        width: 89%;
        margin-right: auto;
        margin-left: auto;

    }
    footer{
        background-color: #181824;
    }
    
}